@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Lexend:wght@100..900&display=swap");

:root {
  --text-color: black;
  --primary-font: "Comfortaa", sans-serif;
  --sec-font: "Lexend", sans-serif;
  --primary-color: white;
  --sec-color: black;
  --tertiary-color: #f0f4f8;
}

html {
  font-size: 14px;
}

body {
  background-color: white;
  font-family: var(--primary-font);
  height: 100vh;
  overflow: hidden;
  /* padding: 0 10vw; */
  color: var(--text-color);
  font-size: 0.8rem;
}
main {
  height: 100vh;
}

button:hover {
  cursor: pointer;
}
